# Data Analysis - Travel Destinations

In this notebook, we explore and construct a list of features for different travel destinations in order to help the customer make a travel plan suitable to their likings.

First we need a list of destinations. Assuming the customer is based in the United Kingdom as we are, we choose the list of destinations of the most popular airlines in the UK - British Airways (BA), EasyJet and Ryanair. This data is public and can be retrived from Wikipedia: 
https://en.wikipedia.org/wiki/List_of_British_Airways_destinations,
https://en.wikipedia.org/wiki/List_of_EasyJet_destinations,
https://en.wikipedia.org/wiki/List_of_Ryanair_destinations.

In [2]:
import pandas as pd

In [19]:
ba_destinations = pd.read_csv('./travel_destinations_data/ba_destinations.csv')
ej_destinations = pd.read_csv('./travel_destinations_data/easyjet_destinations.csv')
ra_destinations = pd.read_csv('./travel_destinations_data/ryanair_destinations.csv')
ba_destinations.head(5)

,Country,City,Airport,Notes,Refs
0,Albania,Tirana,Tirana International Airport Nënë Tereza,Passenger,NaN
1,Algeria,Algiers,Houari Boumediene Airport,Passenger,NaN
2,Algeria,Hassi Messaoud,Oued Irara–Krim Belkacem Airport,Terminated,[1][2]
3,Angola,Luanda,Quatro de Fevereiro Airport,Terminated,[3]
4,Antigua and Barbuda,St. John's,V. C. Bird International Airport,Passenger,NaN

In [67]:
# We drop all destinations that has been terminated (note: easyjet destinations excludes terminated)
ba_destinations.drop(index=ba_destinations[ba_destinations['Notes'] == 'Terminated'].index, inplace=True)
ra_destinations.drop(index=ra_destinations[ra_destinations['Notes'] == 'Terminated'].index, inplace=True)
ba_destinations.reset_index(drop=True)
ra_destinations.reset_index(drop=True)
# create a list of all countries and cities from the three airlines
all_destinations = []
for i in range(ba_destinations.shape[0]):
    all_destinations.append([
        ba_destinations.iloc[i]['Country'],
        ba_destinations.iloc[i]['City']
    ])

for i in range(ej_destinations.shape[0]):
    destination = [ej_destinations.iloc[i]['Country'], ej_destinations.iloc[i]['City']]
    if destination not in all_destinations:
        all_destinations.append(destination)
    else:
        continue

for i in range(ra_destinations.shape[0]):
    destination = [ra_destinations.iloc[i]['Country'], ra_destinations.iloc[i]['City']]
    if destination not in all_destinations:
        all_destinations.append(destination)
    else:
        continue
print(len(all_destinations))

370